@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browse the Store</h2>

<ul>
        <li>@Html.ActionLink("Rock", "Browse", "Store", new {genre = "Rock"}, null)</li>
        <li>@Html.ActionLink("Jazz", "Browse", "Store", new {genre = "Jazz"}, null)</li>
        <li>@Html.ActionLink("Metal", "Browse", "Store", new { genre = "Metal" }, null)</li>
</ul>

